<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User Authentication">
    <meta name="author" content="">

    <title>Style.Me</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</head>

<body>

<div class="container">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li>
                {{#if user}}
                    <p class="navbar-text">
                        <strong>Hi,</strong>
                        {{user}}
                    </p>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                {{else}}
                    <a href="/signin">Sign In</a>
                    </li>
                {{/if}}
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {{#if error}}
        <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
        <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
        <p class="alert alert-info">{{notice}}</p>
    {{/if}}

    <!--where our other templates will insert-->
    {{{body}}}

</div> <!-- /container -->


<!-- Placed at the end of the document so the pages load faster -->


<!--Stylesheet-->


<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="/app/styles/app.css">
<!-- endbuild -->

<!--Scripts-->


<!-- build:js scripts/vendor/modernizr.js -->
<script src="/app/bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/app/bower_components/jquery/dist/jquery.js"></script>
<script src="/app/bower_components/coffee-script/lib/coffee-script/coffee-script.js"></script>
<script src="/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="/app/scripts/forms.js"></script>
<!-- endbuild -->

</body>

</html>